button{
  padding: 7px;
  background-color: #ed661f;
  color: white;
  font-size: medium;

}
#image{
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: center;
  }
#buy{
  font-size: larger;
  font-weight: bolder;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  width: 100%;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 30px 30px;
  text-decoration: none;
}
li {
  float: left;
}
li a:hover:not(.active) {
  background-color: rgb(43, 227, 89);
}
#divone{
  background-color: black;
}
#get{
  background-color: #ed661f;
}
.divwe{
  background-color: black;
  text-align: center;
  color: white;
  margin-bottom: 2px;
  margin-left: 7px;
  margin-right: 7px;
  padding: 20px;
}
#wed{
  font-size: large;
}
.spanenter{
  background-color: white;
  padding-left: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  color: black;
}
#spanaa{
  background-color: #ed661f;
  padding: 5px;
}
u{
  text-decoration-color: #ed661f;
  font-weight: bolder;
}
.container{
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  margin-top: 90px;
}
.our{
  text-align: center;
}
body {
  width: 80%;
}
#divmost{
  margin-left: 30px;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 5px;
}
#most{
  margin-left: 30px;
}
.aftermost{
  display: flex;
  flex-direction: row;
  justify-content: space-around
}
#newest{
  margin-left: 30px;
}
.chicken{
  font-size: medium;
  font-weight: bold;
}
.ksh{
  font-size: small;
  font-weight: 800;
}
.see{
  text-align: right;
  font-weight: 800;
  margin-right: 30px;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.arrow{
  color: #ed661f;
  font-size: xx-large;
  font-weight: bolder;

}
.blank{
  background-color: rgba(185, 180, 174, 0.702);

}
.invisible{
  color: rgba(185, 180, 174, 0.702);
  text-decoration: aliceblue;
}
.what{
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 2px;
}
.checked {
  color: orange;
}
#divszaspan{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 25px;
}
.divzzaspan{
  border: 10px;
  background-color: rgba(100, 100, 100, 0.03);
  text-align: center;
}
#agri{
  font-size: larger;
  font-weight: 700;
}
th, td {
  padding-left: 20px;
  text-align: left;
}
#tab{
  background-color: black;
  margin-left: 7px;
  margin-right: 7px;
  color: white;
  margin-bottom: 30px;
  padding-bottom: 20px;
  padding-top: 20px;
}
#last{
  text-align: center;
  padding-top: 35px;
}
.fa {
  padding: 2px;
  font-size: 10px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.fa-twitter {
  background: white;
  color: black;
}
.fa-facebook {
  background: white;
  color: black;
}

.fa-instagram {
  background: white;
  color: black;
}
#icons{
  margin-left: 20px;
}
#background{
  padding-bottom: 80px;
  background-image: url("../images/image1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.leone{
  justify-content: right;
  text-align: right;
  margin-left: 300px;
  background-color: rgba(100, 100, 100, 0.03);
  font-weight: bold;
  margin-right: 80px;
  margin-top: 100px;
  position: absolute;
  
}